h1{
  color:red;
}

table{
	border-collapse:collapse;
}

td, th{
  border:1px solid black;
  text-align: center;
}

thead, tfoot{
  background-color:LightSteelBlue;
}

.colA{
	background-color:HoneyDew
}

.colB{
	background-color:AliceBlue
}