body{
	background-color:#ddd;
}

#container{
	background-color:#fff;
	width:80%;
	border:1px solid black;
}

header{
	border-bottom:1px solid black;
}

nav{
	position: fixed;
	top:8px;
	left:81%;
	width:18%;
	background-color:#fff;
	border:1px solid black;
}

#content{

}

footer{
	padding:1px;
	text-align:center;
	border-top:1px solid black;
	background-color:#ccc
}